.about {
  display: flex;
  flex-direction: column;
  padding: 0 11em;
  h2 {
    font-size: 6em;
    text-transform: uppercase;
    color: #333333;
    flex-grow: 1;
    text-align: end;
  }
  &-body {
    align-self: flex-start;
    gap: 2em;
    img {
      width: 250px;
      height: 250px;
      border-radius: 50%;
      float: right;
      shape-outside: circle();
    }
    p {
      text-align: left;
      color: #333333;
      font-size: 2vw;
      line-height: 1.2;
      span {
        a {
          text-decoration: none;
          color: unset;
        }
        cursor: pointer;
        color: rgb(252, 89, 87);
      }
    }
  }
}
